apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Define o namespace para todos os recursos
namespace: uniselec-api-stg

resources:
- ../../base
- namespace.yaml
- sealed-secret-mariadb-credentials.yaml
- sealed-secret-laravel-secrets.yaml

# Patches específicos de staging




patches:
- path: patch-deployment.yaml
  target:
    kind: Deployment
    name: uniselec-api
- path: patch-ingress.yaml
  target:
    kind: Ingress
    name: uniselec-api
- path: patch-hpa.yaml
  target:
    kind: HorizontalPodAutoscaler
    name: uniselec-api
- path: mariadb/patch-statefulset.yaml
  target:
    kind: StatefulSet
    name: mariadb
- path: mariadb/patch-service-loadbalancer.yaml
  target:
    kind: Service
    name: mariadb-lb

# MERGE com valores específicos de STAGING

configMapGenerator:
- behavior: merge
  literals:
  - APP_NAME=UniSelec/Seleções - Staging
  - APP_ENV=staging
  - APP_DEBUG=false
  - APP_URL=https://uniselec-api-staging.unilab.edu.br
  - FRONTEND_URL=https://selecoes-staging.unilab.edu.br
  - BACKOFFICE_URL=https://uniselec-admin-staging.unilab.edu.br
  - MAIL_FROM_ADDRESS=noreply@selecoes-staging.unilab.edu.br
  - MAIL_FROM_NAME=[Treinamento] Seleções - UNILAB
  - WEB_APPLICATION_LINK=https://selecoes-staging.unilab.edu.br
  - LOG_LEVEL=info
  - MESSAGE=Staging
  name: uniselec-api-config
  options:
    disableNameSuffixHash: true
- behavior: merge
  literals:
  - DB_HOST=mariadb-app.uniselec-api-stg.svc.cluster.local
  - DB_DATABASE=uniselec_stag
  - MYSQL_DATABASE=uniselec_stag
  - MYSQL_USER=uniselec_stag_user
  - MARIADB_CLUSTER_NAME=uniselec_stag_galera_cluster
  name: mariadb-env
  options:
    disableNameSuffixHash: true

images:
- name: dti-registro.unilab.edu.br/unilab/uniselec-api
  newTag: stg-b06dc10c

labels:
- pairs:
    environment: staging

commonAnnotations:
  description: Ambiente de homologação - UNISELEC Api
