apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Define o namespace para todos os recursos
namespace: uniselec-api-stg

resources:
- ../../base
- namespace.yaml

# inicio - staging do MariaDB
patches:
- path: patch-deployment.yaml
- path: patch-ingress.yaml
- path: patch-hpa.yaml
- path: mariadb/patch-statefulset.yaml
  target:
    kind: StatefulSet
    name: mariadb
# fim - MariaDB

configMapGenerator:
- name: uniselec-api-config
  behavior: replace
  options:
    disableNameSuffixHash: true
  files:
  - .env=env-stg.conf

# inicio - Override de variáveis do MariaDB para staging
- name: mariadb-env
  behavior: merge
  options:
    disableNameSuffixHash: true
  literals:
  - DB_DATABASE=uniselec_stag
  - MYSQL_DATABASE=uniselec_stag
  - MARIADB_CLUSTER_NAME=uniselec_stag_galera_cluster
# fim - Override de variáveis

images:
- name: dti-registro.unilab.edu.br/unilab/uniselec-api
  newTag: latest
