---
# ----------------------------------------------------------------------
# Description: Configurações específicas para o cluster MariaDB Galera,
#              incluindo parâmetros de replicação e inicialização.
# ----------------------------------------------------------------------
apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-config
  labels:
    app: mariadb
    component: config
    managed-by: k8s
    role: galera
data:
  custom.cnf: |
    # The MariaDB configuration file
    #
    # The MariaDB/MySQL tools read configuration files in the following order:
    # 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
    # 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
    # 2. "/etc/mysql/conf.d/*.cnf" to set global options.
    # 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
    # 4. "~/.my.cnf" to set user-specific options.
    #
    # If the same option is defined multiple times, the last one will apply.
    #
    # One can use all long options that the program supports.
    # Run program with --help to get a list of available options and with
    # --print-defaults to see which it would actually understand and use.
    #
    # If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

    [mysqld]
    skip-name-resolve
    skip-slave-start
    character-set-server = utf8mb4
    collation-server = utf8mb4_unicode_ci
    bind-address = 0.0.0.0
    sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

    # Binlog
    log_bin = mysql-bin
    binlog_format = ROW
    server_id = _SERVER_ID
    binlog_row_image = FULL
    log_slave_updates = ON
    gtid_strict_mode = ON
    expire_logs_days = 7
    sync_binlog = 1

    # InnoDB
    innodb_flush_log_at_trx_commit = 1
    innodb_buffer_pool_size = 2Gi
    innodb_log_file_size = 128M
    innodb_flush_method = O_DIRECT

    # Connections
    max_connect_errors = 10000
    max_connections = 500
    wait_timeout = 600
    interactive_timeout = 600

    # Query Cache (disable for Galera)
    query_cache_size = 0
    query_cache_type = 0

    # Slow Query Log
    slow_query_log = 1
    slow_query_log_file = /var/lib/mysql/mariadb-slow.log
    long_query_time = 2
    log_queries_not_using_indexes = 1
    log_output = FILE

    [galera]
    wsrep_on = ON
    wsrep_provider = /usr/lib/galera/libgalera_smm.so
    wsrep_cluster_name = _MARIADB_CLUSTER_NAME
    wsrep_cluster_address = _MARIADB_CLUSTER_ADDRESS
    wsrep_node_address = _POD_IP
    wsrep_sst_method = mariabackup
    wsrep_slave_threads = 4
    wsrep_retry_autocommit = 3
    wsrep_provider_options = "gcache.size=512M;evs.suspect_timeout=PT5S;evs.inactive_timeout=PT15S;evs.install_timeout=PT5S;evs.send_window=512;evs.user_send_window=256"
    # wsrep_sst_auth não é definido - autenticação automática via seção [xtrabackup]

    [mariadb]
    transaction-isolation = READ-COMMITTED
    default_storage_engine = InnoDB
    innodb_autoinc_lock_mode = 2

    # O script wsrep_sst_mariabackup lê exatamente esta seção para obter as
    # credenciais necessárias para autenticação durante o processo de SST
    # (State Snapshot Transfer) no Galera Cluster, utilizando my_print_defaults.
    [xtrabackup]
    user = _SST_USER
    password = "_SST_PASSWORD"