apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Recursos específicos do MariaDB
resources:
  - sa-rbac-mariadb.yaml
  - configmap-mariadb.yaml          # scripts SQL e shell
  - configmap-mariadb-galera.yaml   # configuração do Galera (custom.cnf)
  - service-mariadb.yaml
  - statefulset-mariadb.yaml

# Variáveis de ambiente PÚBLICAS do MariaDB
configMapGenerator:
  - name: mariadb-env
    options:
      disableNameSuffixHash: true
    literals:
      # Configurações Galera (comuns a todos os ambientes)
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_INITDB_SKIP_TZINFO=1
      - MARIADB_GALERA_CLUSTER=ON
      - MARIADB_WSREP_PROVIDER=/usr/lib/galera/libgalera_smm.so
      - MARIADB_REPLICATION_USER=replicator
      - MYSQL_USER=uniselec