apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Define o namespace para todos os recursos
namespace: uniselec-api-prd

resources:
- ../../base
- namespace.yaml

patches:
- path: patch-deployment.yaml
- path: patch-ingress.yaml

images:
- name: dti-registro.unilab.edu.br/unilab/uniselec-api
  newTag: v1.0.1
